body {

}
.name {
	height: auto !important;
	margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    max-width: 100% !important;
    font-size: 33px;
    text-align: ;
}