<!DOCTYPE html>
<html>
<head></head>
<body>
<!-- Welcome to your home page where you can:
-view your already created boards (DONE)
-create a new board (DONE)
-create new images
-have a link to see your images  -->

<h1 class="name"><%= @user.username %></h1>

<a href="/boards/new"><p>Create a board </p></a>

<br></br>
<p>Boards</p>

<% @user.boards.each do |board| %>
<a href="/boards/<%= board.id %>"><%= board.name %></a><br></br>
<% end %>

<a href="/logout"><p>Logout</p></a>
</body>
</html>