<h2> Login Here </h2>

<form method="POST" action="/login">
<p><input type="text" name="username" placeholder="Username"></p>
<p><input type="password" name="password" placeholder="Password"></p>
<p><button type="submit" value="submit">Log In</button></p>
</form>