<div class="login_signup">
	<h1>Signup</h1>
	<form method="POST" action="/signup">
		<input type="text" name="username" placeholder="Username" autocomplete="off" class="input" required />
		<input type="text" name="email" placeholder="Email" autocomplete="off" class="input" required />
		<input type="password" name="password" placeholder="Password" autocomplete="off" class="input" required />
		<button type="submit" class="btn btn-primary btn-block btn-large">Sign In</button>
	</form>
</div>
