Edit for board information here 

<form method="POST" action="/boards/<%=@board.id%>/edit">
<p>Name <input type="text" name="board[name]" placeholder="Update the name" required></p>
<p>Description <input type="text" name="board[description]" placeholder="Update the description" required></p>
<p><button type="submit" value="submit">Update</button></p>
</form>

