<div class="login_signup">
	<h1>Create Board</h1>
	<form method="POST" action="/boards/new">
		<p>Name <input type="text" name="board[name]" placeholder="Examples: 'Sites to visit' " class="input"></p>
		<p>Description <input type="text" name="board[description]" placeholder="What's your board about?" class="input"></p>
		<button type="submit" class="btn btn-primary btn-block btn-large">Create</button>
	</form>
</div>

