<p><%= @board.name %></p>
<p><%= @board.description %></p>

<a href="/boards/<%=@board.id%>/edit"><p>Edit</p></a>
<br></br>
<p>Add an Image</p>

<a href="/users/<%= @user.slug %>"><p>Home</p></a>

<!-- Gotta come back and add the images the images that are associated with this board
@board.image -->
<!-- <p>Home</p> -->