<!DOCTYPE html>
<html>
 <head>
   <title>Pin-It</title>
   <!-- <link href="/stylesheets/pin.css" rel="stylesheet"> -->
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css">
 </head>

 <body>
   <%= yield %>
 </body>
</html>

