<div class="login_signup">
	<h1>Edit Image</h1>

	<form method="POST" action="/images/<%=@image.id%>/edit">
		<input type="text" name="image[image_name]" placeholder="Update the name" class="input" required>
		<input type="text" name="image[description]" placeholder="Update the description" class="input" required>
		<p> Add to Existing Boards </p>
		<br></br>
			<%Board.all.each do |board|%>
	    <input type="checkbox" name="image[board_ids][]" value="<%=board.id%>" id="<%=board.id%>" class="check_box"><%=board.name%></input>
		<%end%>
		<br></br>
			<button type="submit" class="btn btn-primary btn-block btn-large">Update</button>
	</form>
</div>


