Edit for Image information here 

<form method="POST" action="/images/<%=@image.id%>/edit">
<p>Name <input type="text" name="image[image_name]" placeholder="Update the name" required></p>
<p>Description <input type="text" name="image[description]" placeholder="Update the description" required></p>
<p><button type="submit" value="submit">Update</button></p>
</form>

