<div class="login_signup">
	<h1>Upload Image</h1>
	<form method="POST" action="/images/new" enctype="multipart/form-data">
   		<input type="file" id="file" name="image"  aria-label="File browser example" class="input">
   		<p>Name <input type="text" name="image[image_name]" placeholder="Name the image" class="input" required></p>
   		<p>Description <input type="text" name="image[description]" placeholder="Describe the image" class="input" requied></p>
	    <button type="submit" class="btn btn-primary btn-block btn-large">Upload</button>
	</form>
</div>	