<form method="POST" action="/images/new" enctype="multipart/form-data" class="form-horizontal" >
 <fieldset>
   <legend>Upload Image</legend>
   <div class="form-group">
     <label class="col-sm-4 control-label">Upload Image</label>
     <div class="col-sm-5">
       <input type="file" id="file" name="image" aria-label="File browser example">
     </div>
   </div>
    <div class="form-group">
     <label class="col-sm-4 control-label">Name</label>
     <div class="col-sm-5">
       <input type="text" class="form-control" name="image[image_name]" placeholder="Name the Image" autocomplete="off" required>
     </div>
   </div>
   <div class="form-group">
     <label class="col-sm-4 control-label">Description</label>
     <div class="col-sm-5">
       <input type="text" class="form-control" name="image[description]" placeholder="Describe the Image" autocomplete="off" required>
       		<br>
            <button type="submit" class="btn btn-primary">Upload</button>
       </div>
     </div>
   </div>
 </fieldset>
</form>